@font-face {
    font-family: fortnite;
    src: url("../fonts/Fortnite.ttf");
}

body {
    font-family: "Fortnite";
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 50px;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

*,
:before,
:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 6.25em;
}

p,
span {
    color: #d6d6d6b3;
    font-size: 3.75em;
}

a {
    text-decoration: none;
    color: #1a73e8;
    font-size: 3.75em;
}

a:hover {
    text-decoration: underline;
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.hero {
    min-height: 70vh;
    margin-top: -170px;
    padding-top: 170px;
}

.hero .hero-body .campaign {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero.connect-page {
    min-height: auto;
}

.hero .hero-body {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section.pair .pair-steps .step .step-number .value {
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
}

.hero .hero-body .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

.hero .hero-body .counter .title {
    color: rgb(255, 249, 249);
    font-size: 7.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
    text-shadow: 0 1px 2px #0003;
}

.hero .hero-body .counter .counter-boxes {
    display: flex;
    flex-direction: row;
}

.hero .hero-body .counter .counter-boxes .count-box {
    background-color: #1a1c1ccc;
    box-shadow: 0 5px 10px #0000004d;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    margin-right: 4px;
    text-shadow: 0 1px 0 #0000004d;
}

.hero .hero-body .counter .counter-boxes .count-box h1 {
    color: #fff;
    padding: 20px 0 0;
    margin: 0;
    font-size: 6.25rem;
    line-height: 5rem;
}

.hero .hero-body .counter .counter-boxes .count-box span {
    color: #9c9c9c;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero .hero-body .counter .counter-boxes .count-box:last-of-type {
    margin-right: 0;
}

.container {
    width: 100%;
}

.vbackground {
    background-image: url("../img/background.PNG");
    background-size: cover;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 20px;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 2em;
    }

    p,
    span {
        font-size: 1.5em;
    }

    a {
        font-size: 1.5em;
    }

    .container {
        padding: 10px;
    }

    .hero {
        min-height: auto;
        margin-top: 0;
        padding-top: 0;
    }

    .hero .hero-body {
        padding: 1rem 0;
    }

    .section.pair .pair-steps .step .step-number .value {
        font-size: 2rem;
    }

    .hero .hero-body .counter .title {
        font-size: 4.5rem;
        margin-bottom: 0.625rem;
    }

    .hero .hero-body .counter .counter-boxes .count-box {
        width: 90px;
        height: 90px;
    }

    .hero .hero-body .counter .counter-boxes .count-box h1 {
        font-size: 3.5rem;
        line-height: 3rem;
    }

    .hero .hero-body .counter .counter-boxes .count-box span {
        font-size: 0.625rem;
    }
}